<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>
<body>
<div id="app" v-cloak>
    <h1>{{fullName}}</h1>
    <input v-model="firstName"/>
    <input v-model="lastName"/>
    <h1>{{count}}</h1>
    <button @click="increase">Increase</button>
    <counter></counter>
</div>

<!--    <script src="https://unpkg.com/vue"></script>-->
<script src="vue.js"></script>
<script>

  var Counter = {
    template: `
            <div>
              <h1>
               Counter {{count}}
              </h1>
              <button @click="increase">Increase</button>
            </div>
            `,
    data: () => {
      return {
        count: 0
      };
    },
    methods: {
      increase() {
        this.count++;
      }
    }
  };
  Vue.component('counter', Counter);

  const app = new Vue({
    el: '#app',
    data: {
      firstName: 'Jonas',
      lastName: 'Bandi',
      count: 0
    },
    computed: {
      fullName() {
        return this.firstName + ' ' + this.lastName;
      }
    },
    methods: {
      increase() {
        this.count++;
      }
    },
    // components: {
    //   'counter': Counter
    // }
  });
</script>
</body>
</html>
