<template>
  <div>
    <h1>Test 4 {{ description }}</h1>
    <input v-model="name" />
    <button @click="onAlert">Alert!</button>
    <h1>Count {{count}}</h1>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';

@Component
export default class Greeter extends Vue {
  @Prop() message!: string;
  name = null;
  title = 'Mister';
  count = 0;

  created() {
    setInterval(() => {
      this.count++;
    }, 1000);
  }

  @Emit()
  onAlert(event: any) {
    console.log('Child alerting', event);
    return 'Child Alert!';
  }

  get description() {
    console.log('Getter for description');
    return `${this.title} ${this.name ? this.name : ''}`;
  }
}
</script>
d
<style scoped></style>
