<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />

    <button @click="toggleGreeter">Toggle Greeter</button>
    <div v-if="showGreeter">
      <Greeter :message="parentMessage" @on-alert="parentAlert" />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import HelloWorld from '@/components/HelloWorld.vue';
// import Greeter from '../components/Greeter.vue'; // @ is an alias to /src

const Greeter = () => import(/* webpackChunkName: "greeter" */ '../components/Greeter.vue');

@Component({
  components: {
    Greeter,
    HelloWorld
  }
})
export default class Home extends Vue {
  parentMessage = 'Gugus';
  showGreeter = false;

  toggleGreeter() {
    this.showGreeter = !this.showGreeter;
  }

  parentAlert(message: string) {
    alert('Message from Child: ' + message);
  }
}
</script>
